<a href="{{ site.amazon_book_url_chessmemorypalace }}">
  <img src="/assets/homepage/ChessCover4.png" height="25%" width="25%" style="margin: 0px 10px 20px 0px; float: left;">
  <b>You are reading an online version of The Chess Memory Palace by John Holden.</b>
</a>
Copyright © 2022 John Holden, all rights reserved.
<a href="/chessmemorypalace">Click here to return to the online contents page</a>.
For the best reading experience, you can buy
<a href="{{ site.amazon_book_url_chessmemorypalace }}">the paperback</a> or
<a href="https://chessmemorypalace.etsy.com">the ebook</a>.
Subscribe to
<a href="https://www.youtube.com/@ChessMemoryPalace">@ChessMemoryPalace on YouTube</a>
for video tutorials.

{% include a-affiliate-note.html %}

<div style="clear: both;"></div>

<div style="margin-top: 20px;">
  <a href="https://youtu.be/eJZBITM7Y2k">
    <img src="/assets/chessmemorypalace/not_in_book/thumbnail_and_title.jpg" style="margin: 0px 0px 10px 0px; display: block;">
    <b>Watch on YouTube</b>
  </a>
</div>

<div style="clear: both;"></div>
